[Unit]
Description=Christmas Elves Server
After=network.target

[Service]
Type=simple
User=www
WorkingDirectory=/home/www/xmas-elves/xmas-elves
ExecStart=/home/www/xmas-elves/venv/bin/python bin/runserver.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
