.Game-row td {
  border: 1px solid #777;
  border-collapse: collapse;
  padding: 10px 20px;
  text-align: left;
}

.Game-row .number {
  text-align: right;
}

.Game-row .amount {
  text-align: right;
}
